//client
.DS_Store
client/node_modules/
client//dist/
client//test/unit/coverage/


//server
.DS_Store
server/node_modules/



# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
*.lock
